* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
  }
body{
    height: 100vh;
}
h1{
    font-family: poppins;
}
main, p{
    font-family: roboto;
}
p{
    color: rgb(90, 90, 90);
    line-height: auto;
}

main {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    position: relative;
    top: 100px;
    
}

.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    top: 8rem;

}
.box1{
    background-color: #437197;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.box1 a{
    text-decoration: none;
    color: white;
    justify-content: center;
    display: flex;
}

.box1:hover{
    background-color: #014480;
}

.box2{
    background-color: #437197;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.box2:hover{
    background-color: #014480;
}

.box3{
    background-color: #437197;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.box3:hover{
    background-color: #014480;
}

.box1 p, .box2 p, .box3 p {
    font-size: large;
    align-self: center;
    color: white;
    text-decoration: none;
}

nav{
    display: fixed;
    background-color: #021f36;
    position: sticky;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 7px 18px 2px rgba(161,161,161,0.81);
-webkit-box-shadow: 0px 7px 18px 2px rgba(161,161,161,0.81);
-moz-box-shadow: 0px 7px 18px 2px rgba(161,161,161,0.81);

}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
    gap: 50px;
    
}
nav ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    height: 100vh;
    padding: 10px;
}
nav ul :hover{
    background-color: #014480;
    border-radius: 5px;
}
footer {
    background-color: #021f36;
    color: white;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -7px 18px 2px rgba(161,161,161,0.81);
}

.project-image {
    max-width: 400px;
    height: auto;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    position: relative;
    right: 25rem;
}

.clicks-image {
    max-width: 400px;
    height: auto;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    position: relative;
    right: -3rem;
    bottom: 12rem;
}